{% extends 'master.html' %}
{% block content %}
<div class="container my-5 py-5">
    <form action="{% url 'create-layer' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Layer Title</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="title-help">
            <div id="title-help" class="form-text">Provide a short title for this layer.</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Layer Description</label>
            <textarea class="form-control" id="description" name="description"
                aria-describedby="description-help"></textarea>
            <div id="description-help" class="form-text">
                <p>
                    Provide a description of this layer. What kinds locations are represented in this layer?
                </p>
            </div>
        </div>
        <div class="mb-3">
            <label for="geojson" class="form-label">GeoJSON</label>
            <textarea class="form-control" id="geojson" name="geojson" aria-describedby="geojson-help"></textarea>
            <div id="geojson-help" class="form-text">
                <p>
                    Use <a href="https://geojson.io" title="geojson.io">geojson.io</a> to draw out your locations for
                    this layer on a map, then copy the resulting JSON into this field.
                </p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>

    document.getElementById('geojson').addEventListener('input', prettyPrint)
    function prettyPrint(event) {
        let elem = document.getElementById('geojson');
        let ugly = event.target.value;
        try {
            let obj = JSON.parse(ugly);
            let pretty = JSON.stringify(obj, undefined, 4);
            elem.value = pretty;
        } catch (error) { }
        textAreaAdjust(elem);
    }

    function textAreaAdjust(element) {
        element.style.height = "1px";
        element.style.height = (25 + element.scrollHeight) + "px";
    }
</script>


{% endblock %}